body{
	font-family: 'Roboto', sans-serif;
}

#contain{
	width:800px;
	margin:50px auto;
	width:50%;
	background-color: #F5F5F0;
	
}
#contain h2{
	text-align:center;
	color:#045;
}

#quoteContainer{
	width:100%;
	padding:10px;
	margin:30px auto;
	text-align: center;
  	height:70px;
  	background: #fff;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	background-color:#43BDBD;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
	border-radius: 100px;
	color: #fff;
}

#quoteButton:hover{
	cursor:pointer;
	
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
	background:#43BDBD;
}
#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}
.facts{
}

/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	.quoteButton,.addNew{
		display: block;
	}
}
.second-slide{
    
}